<div>
    <h2 class="display-2">Products</h2>
    <p *ngIf="items == null || items.length == 0">Loading products...</p>
    <div *ngFor="let item of this.items">
        <table>
            <tr>
                <td width="130">
                    <a [routerLink]="['/product/' + item.id]">
                        <p class="center"><img width="80" height="80" src="assets/images/{{item.thumbnailImage}}" alt="{{ item.name}}"/></p>
                    </a> 
                </td>        
                <td>
                    <a [routerLink]="['/product/' + item.id]">
                        <p class="lead">{{ item.name }} - {{ formatter.CurrencyDisplay(item.price) }}</p>
                    </a>
                    <p class="small">{{ item.description}}</p>        
                </td>
            </tr>            
        </table>
        <hr/>
    </div>
</div>
