<h2 class="text-center display-4" style="margin-top: 50px;">Login</h2>

<div class="text-center" style="margin-left:30%; margin-right: 30%;">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit('login', loginForm.value)" class="form-signin">
      <p>Login to your account to see status of orders</p>
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus formControlName="email">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required formControlName="password">
      
      <div *ngIf="!data.isLoggingIn">
        <button class="btn btn-primary btn-block" style="margin-top: 30px;" type="submit" (click)="onSubmit('login', loginForm.value)">Sign in</button>
        <button class="btn btn-light btn-block" type="submit" (click)="onSubmit('register', loginForm.value)">Register</button>
      </div>
      <div style="margin-top: 30px;">
        <p>{{ data.AuthMessage }}</p>
      </div>
    </form>
</div>  