<div>
    <h2 class="display-2">Orders</h2>
    <p *ngIf="store.allOrders == null || store.allOrders.length == 0">No orders</p>
    <div *ngFor="let item of store.allOrders">
        <table>
            <tr>
                <td>        
                    <p class="small">{{ item.dateSubmitted}}</p>                            
                    <p class="lead">{{ item.userAccount }} placed an order</p>
                    <p>Status: {{ item.status }}</p>
                    <p>Items in the order</p>                            
                    <ul>
                        <li *ngFor="let product of item.Items">{{product.Quantity}} x {{product.Item.name}} @ {{ formatter.CurrencyDisplay(product.Item.price) }} = {{ formatter.CurrencyDisplay(product.SubTotal) }}</li>
                    </ul>
                    <p>Total: {{ formatter.CurrencyDisplay(item.TotalPrice) }}</p>        
                            
                </td>
            </tr>            
        </table>
        <hr/>
    </div>
</div>
