<div>
    <h2 class="display-2">Shopping Cart</h2>
    <div *ngIf="cart.HasItems">
        <p>Here are all the products in your shopping cart.</p>
        <table class="centeredTable">
            <tr>
                <th>#</th>
                <th>Product</th>
                <th>Qty</th>
                <th>Unit Price</th>
                <th>Total</th>
                <th></th>
            </tr>
        
            <tr *ngFor="let cartItem of cart.Items">        
                <td class="small">{{ cartItem.Item.id}}</td>
                <td>{{ cartItem.Item.name}}</td>
                <td>{{ cartItem.Quantity}}</td>
                <td>{{ formatHelper.CurrencyDisplay(cartItem.Item.price)}}</td>
                <td>{{ formatHelper.CurrencyDisplay(cartItem.SubTotal)}}</td>
                <td><button (click)="removeItem(cartItem.Item)"><small>Remove</small></button></td>
            </tr>

            <tr>
                <td colspan="3"></td>
                <td><strong>Total</strong></td>
                <td><strong>{{ formatHelper.CurrencyDisplay(cart.TotalPrice) }}</strong></td>
            </tr>
        </table>

        <div>
            <h3 class="display-4">Delivery Details</h3>
            <p>Enter your delivery details to ship the order</p>
            <div *ngIf="cart.IsCartValid == false">
                <p>The shopping cart is currently invalid for the following reasons:</p>
                <ul>
                    <li *ngFor="let error in cart.ValidationErrors">{{error}}</li>
                </ul>
            </div>

            <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm.value)">
            <table class="centeredTable">
                <tr>
                    <td>Name:</td>
                    <td><input width="80" class="form-control" placeholder="Name" required autofocus formControlName="name"/></td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td><textarea width="80" class="form-control" placeholder="Address" formControlName="address"></textarea></td>
                </tr>
                <tr>
                    <td>Phone Number:</td>
                    <td><input width="20" class="form-control" placeholder="phone" formControlName="phone"/></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td><input width="80" class="form-control" placeholder="Email" formControlName="email"/></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button (click)="onSubmit(userForm.value)">Submit Order</button></td>
                </tr>
            </table>
            </form>
            <p class="center">{{ dataClient.cartMessage }}</p>
        </div>
    </div>
    <div *ngIf="!cart.HasItems">
        <p>There are no items in your shopping cart</p>
    </div>
</div>